 <!-- form handling -->
 <form action="/api/users" method="POST" id="add_user">
    <div class="new_user">
        <div class="form-group">
            <label for="name" class="text-light"> Real Name</label>
            <input type="hidden" name="id" value="">
            <input type="text" class="text-gradient" name="name" value="" placeholder="Brandon Winn">
        </div>
        <div class="form-group">
            <label for="gname" class="text-light">Gamer Name</label>
            <input type="hidden" name="id2" value="">
            <input type="text" class="text-gradient" name="gname" value="" placeholder="Aceu">
        </div>
        <div class="form-group">
            <label for="games" class="text-light">Games</label>
            <input type="text" class="text-gradient" name="games" value="" placeholder="Apex Legends, Fortnite, etc">
        </div>
        <div class="form-group">
            <label for="Email" class="text-light">Email</label>
            <input type="text" class="text-gradient" name="email" value="" placeholder="example@gmail.com">
        </div>
        <div class="form-group">
            <label for="gender" class="text-light">Gender</label>
            <div class="radio inline">
                <input type="radio" id="radio-2" name="gender" value="Male" >
                <label for="radio-2" class="radio-label text-light">Male</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-3" name="gender" value="Female" >
                <label for="radio-3" class="radio-label text-light">Female</label>
            </div>
        </div>

        <div class="form-group">
            <label for="gender" class="text-light">Status</label>
            <div class="radio inline">
                <input type="radio" id="radio-4" name="status" value="Active" >
                <label for="radio-4" class="radio-label text-light">Active</label>
            </div>
            <div class="radio inline">
                <input type="radio" id="radio-5" name="status" value="Inactive" >
                <label for="radio-5" class="radio-label text-light">Inactive</label>
            </div>
        </div>

        <div class="form-group">
            <button type="submit" class="fas btn text-gradient update">Save</button>
        </div>

    </div>
</form>